
.page-header {
    border-bottom: 1px solid #5FCF80;
    /*background-color: #ebebeb;
      box-shadow: 0px 0px 5px #888888;*/            
}   

#data-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.5);
  display: none;
}
#data-loader > span {
  display: block;
  border: 12px solid rgba(255, 255, 255, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  border-bottom: 12px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.navbar {
  margin-bottom: 0px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.package h4, .package h3 {
  color: #373D3F;
  margin-top: 10px;
} 
.package p {
  margin: 0;
}

.dash-panel {
    background: #FFF;
}

.timer-panel {
    background: #FFF;
}

.dash-panel h3, .timer-panel h3 {

}

.receivers, .donors, .waiting {
  display: none;
}

.plans-sm-text1, .plans-sm-text2, .plans-sm-text3 {
    color: #5FCF80;
    font-size: 18px;
    margin-bottom: 0 !important;
}

.plans-sm-text1 {
    margin-top: 20px;
}

.plans-sm-text3 {
  font-style: italic;
}

.price-table {
  margin-bottom: 30px;
}

.text-border {
  margin-top: 0 !important;
}

.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
}


button.accordion {
    background-color: #dff0d8;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-color: #73cf80 !important;
    border: 1px solid ;  
    border-bottom-style: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active{
      border: 1px solid;
}

button.accordion.active, button.accordion:hover {
    background-color: #5FCF81;  
    border-color: #dff0d8 !important;
}

button.accordion:after {
    content: '\f13a';
    font-size: 16px;
    font-family: 'FontAwesome';
    color: #777;
    float: left;
    margin-right: 6px;
}

button.accordion.active:after {
    content: "\f139"; /* Unicode character for "minus" sign (-) */

}
#faq div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    max-height: 0;
    border: 1px solid;
    border-top-style: none;
    border-bottom-style: none;    
    border-radius: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 0 !important;
    border-color: #73cf80 !important;
    padding: 10px;
}

#faq div.panel:last-of-type {
  border-bottom: 1px solid;
} 

#f_head{
    color: #717f86;
    font-size: 14px;
    font-weight: 700;
}

button.accordion:last-of-type {
    border-bottom-style: solid;
}

#faq{
  margin-top: 40px;
  margin-bottom: 15px;
}

.price-table .pricing-head {
    padding: 20px 40px 10px 40px !important;
}

.price-table .pricing-head h4 {
    padding-bottom: 10px !important;
}

.pricing-head .curency {
    top: -15px !important;
}

.pricing-head .amount {
    font-size: 40px !important;
}

/* Make the page hieght 100% */
html, body, div[data-view='shell'] {
  height: 100%;
}

.navbar-default .navbar-brand span {
  font-size: 25px;
}

/* Set nav-brand size for small devices */
@media (min-width: 768px) {  
  .navbar-default .navbar-brand span {
    font-size: 15px;
    font-style: bold;
  }
}

@media (min-width: 992px) {  
  .navbar-default .navbar-brand span {
    font-size: inherit;
  }
} 
